# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle (por si acaso)
.gradle/
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
*.log

# SO
.DS_Store
Thumbs.db

# Config sensible
*.env
application-local.yml
application-local.properties

